h1{
    font-family: Times;
	font-size: 40px;
    font-weight: normal;
    text-align: center;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/BW-Canvas-Fabric-Texture.jpg");
    /* background-image: linear-gradient(to bottom right, rgb(3, 3, 3), rgb(73, 73, 73)); */
    background-size: cover;
}

.container{
    /* border: 1px solid #ff0000; */
    width:90%;
    margin: auto;
    margin-top: 50px;
}

#profile{
    width: 50%;
    float: left;
    margin-right: 30px;
    margin-left: 0px;
    margin-bottom: 5px;
    margin-top: 0px;
}

p{
    /* border: 1px solid #ff0000; */
    font-family: Times;
    font-size: 28px;
    text-align: justify;
    padding: 0px;
    margin-top:0px;
    /* color:rgb(244, 241, 237); */
    color:black;
}