body{
    background-image: url('../css/images/film_grain.jpg');
    /* background-image: linear-gradient(to bottom right, rgb(3, 3, 3), rgb(73, 73, 73)); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    margin:60px;
    /* border: red 1px solid; */
}

.profile{
    height:400px;
    border-radius: 100%;
    border:lightgrey solid 5px;
}

img{
    display: block;
    margin: auto;
}

.gridContainer{
    /* border: green 1px solid; */
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin:50px auto;
    justify-items: center;
}

.gridItem{
    /* border: red 1px solid; */
    display:grid;
    justify-items: center;
}

.text{
    /* border: red 1px solid; */
    font-family: Times;
    text-decoration: none;
    color:black;
    font-size:26px;
    margin-top:10px;
    padding: 5px;
    background-color: lightgrey;
}

.text:hover{
    border: red 2px solid;
}

@media (max-width:55em){
    .gridContainer{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}