body{
    /* background-image: url("images/R.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-image: linear-gradient(to bottom right, rgb(3, 3, 3), rgb(73, 73, 73)); */
}

.container{
    margin:40px;
}

p{
    font-family: Times;
    font-size: 28px;
    color:lightgrey;
}

a{
    font-family: Times;
    font-size: 28px;
    /* text-decoration: none; */
    /* color: black; */
    color:lightgrey;
}

img{
    margin-top: 40px;
    display: block;
}