*{
	margin:0;
	padding:0;
}

html,body{
	height:100%;
}


.clr{
	clear:both;
}

body{
	/*background-image: url("images/background.jpg");
	background-size: 100%;
	background-attachment: fixed;
	background-position:bottom;*/
	background-color:#ffffff;
}

.gridContainer{
	display: grid;
	grid-template-columns: 50% auto;
	grid-template-areas: "navbar content" "navbar content";
	width:100%;
	margin:auto;
	background: url("images/film_grain_2.jpg"); /*linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),*/
	background-size: cover;
	min-height:100%;
	gap: 2rem;
	
}

#cred{
	font-size: 20px;
}

#navbar{
	grid-area:navbar;
}

#content{
	/* display:none; */
	grid-area:content;
}

.gridItem{
	/* border: 1px solid #ff0000; */
	color: #ffffff;
}

.textbox{
	/* border: 1px solid #ff0000; */
	margin-top: 40px;
}

h1{
	padding: 0px;
	text-align: right;
}

h1 button{
	width:auto;
	font-family: Times;
	font-size: 76px;
	padding: 0px 10px;
	color: #000000;
	background-color: lightgrey; 
	border: solid transparent;
}

nav{
	/* border: 1px solid #ff0000; */
	width:auto;
	list-style-type: none;
	margin-top: 20px;
}

.nav_item{
	/* border: 1px solid #ff0000; */
	width:auto;
	font-family: Times;
	font-size: 40px;
	text-align: right;
	padding: 0px 5px;
	margin: 15px;
	margin-right: 0px;
	color:rgb(0, 0, 0);
	background-color: lightgrey; 
	border-style: solid;
	display:block;
	margin-right: 0px;
  	margin-left: auto;
}

button:hover{
	border: 2px solid #ff0000;
}


iframe{
	border:transparent;
}

#page {
	width: 95%;
	height: 90%;
	margin: auto;
	/* border: 1px solid #ff0000; */
	margin-top: 40px;
	/* display: flex;
	justify-content: center;
	align-items: center; */
}


@media (max-width:75em){
	h1{
		text-align: center;
	}
    h1 button{
		font-size: 40px;
	}
	.gridContainer{
		grid-template-columns: 50% auto;
        grid-template-rows: 20% auto;
		grid-template-areas: "navbar navbar" "content content";
    }
	nav{
		display:flex;
		justify-content: space-around;
	}
	.nav_item{
		font-size:30px;
		display:inline;
		margin-right:0px;
		margin-left:0px;
	}
	#cred{
		font-size: 30px;
	}
}

@media (max-width:50em){
	nav{
		display:flex;
		justify-content: space-around;
		flex-wrap: wrap;
		/* border:1px solid #ff0000; */

	}
	#cred{
		font-size: 30px;
	}

	.nav_item{
		display:inline;
		font-size:30px;
		margin-right:0px;
		margin-left:0px;
	}
}