h1{
    font-family: Times;
	font-size: 40px;
    font-weight: normal;
    text-align: center;
}

body{
    background-image: url("images/paper_seamless_towel_texture(light).jpg");
    background-repeat: repeat;
}

.video_box{
    /* border: 2px solid red; */
    width: 90%;
    margin: auto;
    margin-top: 60px;
    border-bottom: 3px solid red;
}

h2{
    font-size: 50px;
    font-family: Times;
    font-weight: normal;
}

video{
    /* border: 2px solid red; */
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
}

p{
    /* border: 1px solid #ff0000; */
    font-family: Times;
    font-size: 28px;
    text-align: justify;
    padding: 0px;
    margin-top:0px;
}

.read_button{
    border: none;
    background: rgb(194, 194, 194);
    font-size: 20px;
    font-family: Times;
}

.less{
    display: block;
    padding-bottom: 30px;
}

.more{
    display: none;
    padding-bottom: 30px;
}

.thumbnail{
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
}

